body{
    background-color: #DB3D89;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header{
    width: 100%;
    max-width: 900px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.header_link{
    text-decoration: none;
}

.header_link:hover{
    opacity: .6;
}

.header_link:focus{
    outline: none;
    background-color: #4d4d4d;
    border-radius: 5px;;
}

.icone{
    width:24px;
}

.main{
    width: 100%;
    max-width: 700px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
   
}

.perfil{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.perfil_photo{
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: 7px solid #8F2156;
}

.perfil_name{
     font-family: 'Dancing Script', cursive;
    color: #8F2156;
    font-size: 52px;
}

 #pefil_description{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:#8F2156;
    font-weight: 900;
    max-width: 900px;
    text-align: center;

}

section{
    padding: 8px;
    width: 100%;
    max-width: 900px;
    margin: 24px auto;
    background-color:#8F2156;
    box-sizing: border-box;
}

.curso{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:#DB3D89;
    padding: 8px;
    margin: 16px 0;
    box-sizing: border-box;
    
}

 h2{
    font-weight: 900;
    color: #DB3D89;
    font-family: 'Open Sans', sans-serif;
    
}

.nome_curso{

    color:#DB3D89;
    font-weight: 900;
    margin: 16px 0;

}

footer{
    color:#8F2156;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    flex-shrink: 0;
}
